<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="flex_layout_style/style2.css">
    <style>
        * { padding: 0;margin: 0;box-sizing: border-box; }
        a { text-decoration: none; color: inherit; }
        li { list-style: none; }
        body {
            color: #333;
            line-height: 1.6;
            font-size: 14px;
            background-color: #f1f1f1;
            padding: 16px;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1>My Website</h1>
            <p>p태그입니다</p>
            <div>
                <ul>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                </ul>
                <a href="#">link</a>
            </div>
        </div>
        <div id="main" class="clearboth">
            <div id="left">
                <div class="whiteBox">
                    <h2>TITLE HEADING</h2>
                    <p>Lorem ipsum dolor sit amet</p>
                    <div class="imageBox">image</div>
                    <h3>Title texts</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="whiteBox">
                    <h2>TITLE HEADING</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="imageBox">image</div>
                    <h3>Title texts</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div id="right">
                <div class="whiteBox">
                    <h2>About Me</h2>
                    <div class="imageBox">image</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="whiteBox">
                    <h2>Popular Post</h2>
                    <ul>
                        <li class="imageBox">image</li>
                        <li class="imageBox">image</li>
                        <li class="imageBox">image</li>
                    </ul>
                </div>
                <div class="whiteBox">
                    <h2>Folloew Me</h2>
                    <p>some text..</p>
                </div>
            </div>
            <div></div>
        </div>
        <div id="footer">
            footer
        </div>
    </div>
</body>
</html>