*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
address{font-style: normal;}
li{list-style: none;}
img{vertical-align: top; width: 100%;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
table{
    border-collapse: collapse;
    outline: none;
}
body{
    font-size: 14px;
    line-height: 1.6;
    color: #222;
}
.clearboth::after{
    content: "";
    display: block;
    clear: both;
}
.inner_container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    padding: 20px;
}
header h1{
    float: left;
    font-size: 34px;
}
header ul{
    float: right;
}
header ul li{
    float: left;
    padding: 20px;
    font-size: 18px;
}
/* 모바일 화면 메뉴 ui */
#mobile_nav{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30px;
    right: 20px;
    display: none;
}
#mobile_nav span{
    display: block;
    width: 60%;
    height: 4px;
    margin: 6px auto;
    background-color: #3f51b5;
}
/* 모바일 화면 메뉴 ui end */
main > section:not(:first-child){
    padding: 60px 0;
}
.tit{
    padding-bottom: 60px;
}
.tit h2{
    color: #3f51b5;
    font-size: 34px;
    font-weight: bold;
}
#weare .tit h2{
    float: left;
    width: 32%;
    border-right: 8px solid #ddd;
}

#weare .tit p{
    float: left;
    width: 65%;
    padding-left: 40px;
}
#weare li{
    float: left;
    width: 25%;
    text-align: center;
    padding: 30px 50px;
}
#weare li img{
    height: 100px;
    /* 전역 img width를 100%줘놔서 height 100만 설정하면 이미지가 늘어나서 width auto 줌 */
    width: auto;
}
#weare li h3{
    color: #3f51b5;
    padding:20px 0;
}

#work li{
    position: relative;
    float: left;
    width: 25%;
    overflow: hidden;
}
#work li .bluebg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63,51,181,0);
    transition: 0.5s;
}
#work li .bluebg div{
    position: absolute;
    top: -200px;
    left: 50px;
    color: #fff;
    transition: 0.5s;
}
#work li:hover .bluebg{
    background-color: rgba(63, 51, 181, 0.3);
}
#work li:hover .bluebg div{
    top:50px;
}
#blog .tit{
    float: left;
    width: 30%;
}
#blog ul{
    float: left;
    width: 70%;
}
#blog ul li{
    float: left;
    width: 32.3333%;
}
#blog ul li:not(:last-child){
    margin-right: 1.5%;
}

#contact .tit{
    float: left;
    width: 30%;
}
#contact #message{
    float: left;
    width: 70%;
}
#contact input{
    width: 100%;
    line-height:49px;
    border:none;
    outline: none;
    border-bottom: 1px solid #ccc;
}
#contact #inputs{
    float: left;
    width: 50%;
}
#contact #textMessage{
    float: left;
    width: 50%;
    padding-left: 10px;
}
#contact textarea{
    width: 100%;
    border: none;
    height: 150px;
    border-bottom: 1px solid #ddd;
}
#contact #button{
    text-align: right;
    clear: left;
}
#contact #button input{
    width: 100px;
    color: #fff;
    background-color: #3f51b5;
    text-align: center;
    line-height: 40px;
}

footer{
    text-align: center;
    padding: 40px 0;
}

/* 반응형 웹 설정 */
@media screen and (max-width:1024px) {
    .tit{
        text-align: center;
    }
    #weare .tit h2{
        width: 100%;
        border-right: none;
    }
    #weare .tit p{
        width: 100%;
        padding: 0;
    }
    #weare li{
        width: 50%;
    }
    #weare li img{
        height: 50px;
    }
    #work li{
        width: 50%;
    }
    #blog .tit{
        width: 100%;
    }
    #blog ul{
        width: 100%;
    }
    #contact .tit{
        width: 100%;
    }
    #contact #message{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    header ul{
        display: none;
    }
    header #mobile_nav{
        display: block;
    }
    #weare li{
        width: 100%;
    }
    #work li{
        width: 100%;
    }
    #blog ul li{
        width: 100%;
    }
    #blog ul li:not(:last-child){
        margin-right: 0;
    }
    #contact #message{
        position: relative;
    }
    #contact #inputs{
        width: 100%;
        padding: 20px;
    }
    #contact #textMessage{
        width: 50%;
        padding: 20px;
    }
    #contact #button{
        display: inline-block;
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 20px;
    }
}