*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
address{font-style: normal;}
li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}

body{
    font-family: "맑은고딕", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #222;
}

.clearboth::after{
    content: "";
    display: block;
    clear: both;
}
.con{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.tit{
    padding: 20px 0;
}
.tit h2{
    color: #3f51b5;
    font-size: 34px;
}

/* header start */
header {
    padding: 20px;
}
header h1{
    float: left;
    font-size: 32px;
    font-weight: bold;
}

header ul{
    float: right;
}

header li{
    float: left;
    padding: 10px;
}
header li:not(:last-child){
    margin-right: 25px;
}
/* header end */

/* main start */
#bg img{
    width: 100%;
}
#intro{
    margin: 50px auto;
}

#intro h2{
    float: left;
}
#intro p{
    color: #222;
    font-size: 14px;
    line-height: 20px;
    float: left;
    border-left: 3px solid #ccc;
    padding-left: 50px;
    width: 60%;
    margin-left: 15%;
}
#intro li{
    text-align: center;
    float: left;
    width: 25%;
    padding: 40px;
}

#intro li img{
    height: 60px;
}

#intro li h3{
    padding: 10px 0;
}
#intro li p{
    line-height: 1.2;
}

#work .tit{
    padding-bottom: 30px;
}
#work li{
    float: left;
    width: 25%;
    position: relative;
    overflow: hidden;
}
#work li img{
    width: 100%;
}
#work li .bluebg{
    background-color: #3f51b5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}
#work .desc{
    position: absolute;
    top: -100px;
    left: 40px;
    color: #fff;
    transition: 0.5s;
}
#work li:hover .bluebg{
    opacity: 0.5;
}
#work li:hover .desc{
    transform: translateY(150px);
}

#blog{
    padding: 60px 0;
    margin-top: 60px;
}
#blog .tit{
    float: left;
    width: 30%;
    font-weight: bold;
}
#blog li{
    float: left;
    width: 22.5%;
}
#blog li:not(:last-child){
    margin-right: 1.25%;
}
#blog li img{
    width: 100%;
}
#blog li h3{
    font-size: 14px;
}

#contact .tit{
    width: 30%;
    float: left;
}
#contact table{
    width: 70%;
    float: left;
}
#contact td{
    width: 49%;
}
#contact td:nth-child(2){
    width: 49%;
    padding-left: 2%;
}
#contact input{
    width: 100%;
    line-height: 40px;
    border:none;
    outline: none;
    border-bottom: 1px solid #ccc;
}
#contact textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
}
#send input{
    float: right;
    display: block;
    width: 120px;
    height: 50px;
    background-color: #3f51b5;
    color: #fff;
}

/* main end */

/* footer */
footer{
    padding: 40px 0;
    text-align: center;
}
footer h1{
    font-size: 14px;
    margin-top: 10px;
}
/* footer end */